# Terraform local directories
.terraform/
.terraform.lock.hcl

# Sensitive variable files
*.tfvars
*.tfvars.json

# State files
terraform.tfstate
terraform.tfstate.backup

# Crash logs
crash.log
crash.*.log

# Provider binaries
*.exe